body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.hero {
    padding: 50px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
}

.product-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
}

.cart {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.admin-section {
    padding: 20px;
}

.order-box {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    background: white;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
